In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [8]:
files = os.listdir('./data/stock/')
summ = {'Stock': [], 'Min': [], 'Max':[]}
for file in files:
    df = pd.read_csv(f'./data/stock/{file}')
    summ['Stock'].append(file)
    summ['Min'].append(df['Date'].min())
    summ['Max'].append(df['Date'].max())
summ_df = pd.DataFrame(summ)

In [16]:
summ_df

             Stock        Min        Max
0        TITAN.csv 2000-01-03 2021-04-30
1    KOTAKBANK.csv 2000-01-03 2021-04-30
2          UPL.csv 2004-01-23 2021-04-30
3      HCLTECH.csv 2000-01-11 2021-04-30
4    EICHERMOT.csv 2000-01-03 2021-04-30
5         ONGC.csv 2000-01-03 2021-04-30
6   BAJAJFINSV.csv 2008-05-26 2021-04-30
7   HINDUNILVR.csv 2000-01-03 2021-04-30
8    ICICIBANK.csv 2000-01-03 2021-04-30
9     HINDALCO.csv 2000-01-03 2021-04-30
10  BAJFINANCE.csv 2000-01-03 2021-04-30
11          LT.csv 2004-06-23 2021-04-30
12      GRASIM.csv 2000-01-03 2021-04-30
13       CIPLA.csv 2000-01-03 2021-04-30
14        BPCL.csv 2000-01-03 2021-04-30
15    INFRATEL.csv        NaT        NaT
16       TECHM.csv 2006-08-28 2021-04-30
17  BHARTIARTL.csv 2002-02-18 2021-04-30
18     DRREDDY.csv 2000-01-03 2021-04-30
19        INFY.csv 2000-01-03 2021-04-30
20        HDFC.csv 2000-01-03 2021-04-30
21         ITC.csv 2000-01-03 2021-04-30
22         IOC.csv 2000-01-03 2021-04-30
23        ZEEL.csv 2000-01-03 2021-04-30
24   BRITANNIA.csv 2000-01-03 2021-04-30
25  BAJAJ-AUTO.csv 2008-05-26 2021-04-30
26  TATAMOTORS.csv 2000-01-03 2021-04-30
27  ASIANPAINT.csv 2000-01-03 2021-04-30
28        VEDL.csv 2000-01-03 2021-04-30
29  ULTRACEMCO.csv 2004-08-24 2021-04-30
30   SUNPHARMA.csv 2000-01-03 2021-04-30
31    SHREECEM.csv 2000-01-03 2021-04-30
32  ADANIPORTS.csv 2007-11-27 2021-04-30
33          MM.csv 2000-01-03 2021-04-30
34   POWERGRID.csv 2007-10-05 2021-04-30
35   COALINDIA.csv 2010-11-04 2021-04-30
36      MARUTI.csv 2003-07-09 2021-04-30
37        GAIL.csv 2000-01-03 2021-04-30
38   TATASTEEL.csv 2000-01-03 2021-04-30
39  HEROMOTOCO.csv 2000-01-03 2021-04-30
40    AXISBANK.csv 2000-01-03 2021-04-30
41    HDFCBANK.csv 2000-01-03 2021-04-30
42   NESTLEIND.csv 2010-01-08 2021-04-30
43    JSWSTEEL.csv 2005-03-23 2021-04-30
44        SBIN.csv 2000-01-03 2021-04-30
45  INDUSINDBK.csv 2000-01-03 2021-04-30
46    RELIANCE.csv 2000-01-03 2021-04-30
47        NTPC.csv 2004-11-05 2021-04-30
48         TCS.csv 2004-08-25 2021-04-30
49       WIPRO.csv 2000-01-03 2021-04-30

In [18]:
selected = ['RELIANCE.csv', 'TCS.csv', 'HDFCBANK.csv', 'ICICIBANK.csv', 'INFY.csv', 'BHARTIARTL.csv', 'ITC.csv', 'HINDUNILVR.csv', 'SBIN.csv', 'LT.csv', 'BAJFINANCE.csv', 'HCLTECH.csv', 'KOTAKBANK.csv', 'AXISBANK.csv', 'TITAN.csv', 'SUNPHARMA.csv']
df2 = summ_df[summ_df['Stock'].isin(selected)]
df2

             Stock        Min        Max
0        TITAN.csv 2000-01-03 2021-04-30
1    KOTAKBANK.csv 2000-01-03 2021-04-30
3      HCLTECH.csv 2000-01-11 2021-04-30
7   HINDUNILVR.csv 2000-01-03 2021-04-30
8    ICICIBANK.csv 2000-01-03 2021-04-30
10  BAJFINANCE.csv 2000-01-03 2021-04-30
11          LT.csv 2004-06-23 2021-04-30
17  BHARTIARTL.csv 2002-02-18 2021-04-30
19        INFY.csv 2000-01-03 2021-04-30
21         ITC.csv 2000-01-03 2021-04-30
30   SUNPHARMA.csv 2000-01-03 2021-04-30
40    AXISBANK.csv 2000-01-03 2021-04-30
41    HDFCBANK.csv 2000-01-03 2021-04-30
44        SBIN.csv 2000-01-03 2021-04-30
46    RELIANCE.csv 2000-01-03 2021-04-30
48         TCS.csv 2004-08-25 2021-04-30

In [23]:
START_DATE = '2005-01-01'
END_DATE = '2021-01-01'
final = selected[:10]
for file in final:
    df = pd.read_csv(f'./data/stock/{file}')
    df = df[(df['Date'] >= START_DATE) & (df['Date'] <= END_DATE)]
    print(file, df.Date.min(), df.Date.max(), len(df))
    df.to_csv(f'./data/selected/{file}', index=False)

RELIANCE.csv 2005-01-03 2021-01-01 3970
TCS.csv 2005-01-03 2021-01-01 3970
HDFCBANK.csv 2005-01-03 2021-01-01 3970
ICICIBANK.csv 2005-01-03 2021-01-01 3970
INFY.csv 2005-01-03 2021-01-01 3970
BHARTIARTL.csv 2005-01-03 2021-01-01 3970
ITC.csv 2005-01-03 2021-01-01 3970
HINDUNILVR.csv 2005-01-03 2021-01-01 3970
SBIN.csv 2005-01-03 2021-01-01 3970
LT.csv 2005-01-03 2021-01-01 3970

In [26]:
START_DATE = '2005-01-01'
END_DATE = '2021-01-01'
final = selected[:10]
for file in final:
    df = pd.read_csv(f'./data/stock/{file}')
    df = df[(df['Date'] >= START_DATE) & (df['Date'] <= END_DATE)]
    print(file, df.Date.min(), df.Date.max(), len(df))
    print(df.isnull().sum())
    print('\n\n')

RELIANCE.csv 2005-01-03 2021-01-01 3970
Date                     0
Symbol                   0
Series                   0
Prev Close               0
Open                     0
High                     0
Low                      0
Last                     0
Close                    0
VWAP                     0
Volume                   0
Turnover                 0
Trades                1593
Deliverable Volume       5
%Deliverble              5
dtype: int64



TCS.csv 2005-01-03 2021-01-01 3970
Date                     0
Symbol                   0
Series                   0
Prev Close               0
Open                     0
High                     0
Low                      0
Last                     0
Close                    0
VWAP                     0
Volume                   0
Turnover                 0
Trades                1593
Deliverable Volume       0
%Deliverble              0
dtype: int64



HDFCBANK.csv 2005-01-03 2021-01-01 3970
Date                     0
Symbol                   0
Series                   0
Prev Close               0
Open                     0
High                     0
Low                      0
Last                     0
Close                    0
VWAP                     0
Volume                   0
Turnover                 0
Trades                1593
Deliverable Volume       0
%Deliverble              0
dtype: int64



ICICIBANK.csv 2005-01-03 2021-01-01 3970
Date                     0
Symbol                   0
Series                   0
Prev Close               0
Open                     0
High                     0
Low                      0
Last                     0
Close                    0
VWAP                     0
Volume                   0
Turnover                 0
Trades                1593
Deliverable Volume       0
%Deliverble              0
dtype: int64



INFY.csv 2005-01-03 2021-01-01 3970
Date                     0
Symbol                   0
Series                   0
Prev Close               0
Open                     0
High                     0
Low                      0
Last                     0
Close                    0
VWAP                     0
Volume                   0
Turnover                 0
Trades                1593
Deliverable Volume       0
%Deliverble              0
dtype: int64



BHARTIARTL.csv 2005-01-03 2021-01-01 3970
Date                     0
Symbol                   0
Series                   0
Prev Close               0
Open                     0
High                     0
Low                      0
Last                     0
Close                    0
VWAP                     0
Volume                   0
Turnover                 0
Trades                1593
Deliverable Volume       5
%Deliverble              5
dtype: int64



ITC.csv 2005-01-03 2021-01-01 3970
Date                     0
Symbol                   0
Series                   0
Prev Close               0
Open                     0
High                     0
Low                      0
Last                     0
Close                    0
VWAP                     0
Volume                   0
Turnover                 0
Trades                1593
Deliverable Volume       5
%Deliverble              5
dtype: int64



HINDUNILVR.csv 2005-01-03 2021-01-01 3970
Date                     0
Symbol                   0
Series                   0
Prev Close               0
Open                     0
High                     0
Low                      0
Last                     0
Close                    0
VWAP                     0
Volume                   0
Turnover                 0
Trades                1593
Deliverable Volume       0
%Deliverble              0
dtype: int64



SBIN.csv 2005-01-03 2021-01-01 3970
Date                     0
Symbol                   0
Series                   0
Prev Close               0
Open                     0
High                     0
Low                      0
Last                     0
Close                    0
VWAP                     0
Volume                   0
Turnover                 0
Trades                1593
Deliverable Volume       5
%Deliverble              5
dtype: int64



LT.csv 2005-01-03 2021-01-01 3970
Date                     0
Symbol                   0
Series                   0
Prev Close               0
Open                     0
High                     0
Low                      0
Last                     0
Close                    0
VWAP                     0
Volume                   0
Turnover                 0
Trades                1593
Deliverable Volume       0
%Deliverble              0
dtype: int64

In [33]:
files = os.listdir('./data/indicators/')
summ = {'Stock': [], 'Min': [], 'Max':[]}
for file in files:
    print(file)
    df = pd.read_csv(f'./data/indicators/{file}')
    summ['Stock'].append(file)
    summ['Min'].append(df['Date'].min())
    summ['Max'].append(df['Date'].max())
summ_df = pd.DataFrame(summ)

NIFTY FINANCIAL SERVICES EX-BANK_Data.csv
NIFTY FMCG_Data_extend.csv
NIFTY 50_Data_extend.csv
NIFTY AUTO_Data.csv
VIX_History.csv
NIFTY 50_Historical_PE_PB_DIV_Data_extend.csv
NIFTY IT_Data_extend.csv
NIFTY BANK_Data extend.csv
NIFTY INFRASTRUCTURE_Data.csv
NIFTY PHARMA_Data_extend.csv
NIFTY FMCG_Data.csv
NIFTY ENERGY_Data.csv
NIFTY AUTO_Data_extend.csv
NIFTY PHARMA_Data.csv
NIFTY COMMODITIES_Data.csv
NIFTY FINANCIAL SERVICES_Data.csv
Gold price INR.csv
NIFTY IT_Data.csv
NIFTY INDIA MANUFACTURING_Data_extend.csv
NIFTY COMMODITIES_Data_extend.csv
NIFTY 50_Data.csv
NIFTY 50 - HistoricalPE_PBDIV_Data.csv
NIFTY OIL  GAS_Data.csv
NIFTY ENERGY_Data_extend.csv
NIFTY INFRASTRUCTURE_Data_extend.csv
NIFTY BANK_Data.csv
NIFTY INDIA MANUFACTURING_Data.csv

In [ ]:
files = os.listdir('./data/indicators/')
for file in files:
    print(file)
    df = pd.read_csv(f'./data/indicators/{file}')
    df['Date'] = pd.to_datetime(df['Date'])
    df.to_csv(f'./data/metric/{file}', index=False)

In [44]:
files = os.listdir('./data/selected-econometric/')
summ = {'Stock': [], 'Min': [], 'Max':[]}
for file in files:
    df = pd.read_csv(f'./data/selected-econometric/{file}')
    summ['Stock'].append(file)
    summ['Min'].append(df['Date'].min())
    summ['Max'].append(df['Date'].max())
summ_df = pd.DataFrame(summ)

In [45]:
summ_df.sort_values(by='Stock')

                                     Stock         Min         Max
8                       Gold price INR.csv  1979-01-02  2022-12-08
11  NIFTY 50 - HistoricalPE_PBDIV_Data.csv  1999-01-01  2022-08-12
10                       NIFTY 50_Data.csv  2000-01-03  2022-09-09
0                      NIFTY AUTO_Data.csv  2004-01-01  2022-08-12
12                     NIFTY BANK_Data.csv  2000-01-03  2022-09-09
6               NIFTY COMMODITIES_Data.csv  2004-01-01  2022-08-12
4                    NIFTY ENERGY_Data.csv  2001-01-01  2022-08-12
7        NIFTY FINANCIAL SERVICES_Data.csv  2005-01-03  2021-01-01
3                      NIFTY FMCG_Data.csv  1996-01-01  2022-08-12
2            NIFTY INFRASTRUCTURE_Data.csv  2004-01-01  2022-08-12
9                        NIFTY IT_Data.csv  1996-01-01  2022-08-12
5                    NIFTY PHARMA_Data.csv  2001-01-01  2022-08-12
1                          VIX_History.csv  1990-01-02  2022-08-11

In [2]:
START_DATE = '2005-01-01'
END_DATE = '2021-01-01'
files = os.listdir('./data/selected-econometric/')
for file in files:
    df = pd.read_csv(f'./data/selected-econometric/{file}')
    df = df[(df['Date'] >= START_DATE) & (df['Date'] <= END_DATE)]
    print(file, df.Date.min(), df.Date.max(), len(df))
    print(df.isnull().sum())
    print('\n\n')

NIFTY AUTO_Data.csv 2005-01-03 2021-01-01 3970
Date        0
Open     1678
High     1678
Low      1678
Close       0
dtype: int64



VIX_History.csv 2005-01-03 2020-12-31 4027
Date     0
OPEN     0
HIGH     0
LOW      0
CLOSE    0
dtype: int64



NIFTY INFRASTRUCTURE_Data.csv 2005-01-03 2021-01-01 3970
Date        0
Open     1374
High     1374
Low      1374
Close       0
dtype: int64



NIFTY FMCG_Data.csv 2005-01-03 2021-01-01 3970
Date        0
Open     1510
High     1510
Low      1510
Close       0
dtype: int64



NIFTY ENERGY_Data.csv 2005-01-03 2021-01-01 3970
Date        0
Open     1510
High     1510
Low      1510
Close       0
dtype: int64



NIFTY PHARMA_Data.csv 2005-01-03 2021-01-01 3970
Date       0
Open     694
High     694
Low      694
Close      0
dtype: int64



NIFTY COMMODITIES_Data.csv 2005-01-03 2021-01-01 3970
Date        0
Open     1777
High     1777
Low      1777
Close       0
dtype: int64



NIFTY FINANCIAL SERVICES_Data.csv 2005-01-03 2021-01-01 3970
Index Name      0
Date            0
Open          117
High          117
Low           117
Close           0
dtype: int64



Gold price INR.csv 2005-01-02 2021-01-01 4175
Date    0
INR     0
dtype: int64



NIFTY IT_Data.csv 2005-01-03 2021-01-01 3970
Date     0
Open     0
High     0
Low      0
Close    0
dtype: int64



NIFTY 50_Data.csv 2005-01-03 2021-01-01 3970
Date     0
Open     0
High     0
Low      0
Close    0
dtype: int64



NIFTY 50 - HistoricalPE_PBDIV_Data.csv 2005-01-03 2021-01-01 3969
Date           0
P/E            0
P/B            0
Div Yield %    0
dtype: int64



NIFTY BANK_Data.csv 2005-01-03 2021-01-01 3970
Date       0
Open     110
High     110
Low      110
Close      0
dtype: int64

In [3]:
START_DATE = '2005-01-01'
END_DATE = '2021-01-01'
files = os.listdir('./data/selected-econometric/')
for file in files:
    df = pd.read_csv(f'./data/selected-econometric/{file}')
    df = df[(df['Date'] >= START_DATE) & (df['Date'] <= END_DATE)]
    print(file, df.Date.min(), df.Date.max(), len(df))
    df.to_csv(f'./data/selected-econometric/{file}', index= False)

NIFTY AUTO_Data.csv 2005-01-03 2021-01-01 3970
VIX_History.csv 2005-01-03 2020-12-31 4027
NIFTY INFRASTRUCTURE_Data.csv 2005-01-03 2021-01-01 3970
NIFTY FMCG_Data.csv 2005-01-03 2021-01-01 3970
NIFTY ENERGY_Data.csv 2005-01-03 2021-01-01 3970
NIFTY PHARMA_Data.csv 2005-01-03 2021-01-01 3970
NIFTY COMMODITIES_Data.csv 2005-01-03 2021-01-01 3970
NIFTY FINANCIAL SERVICES_Data.csv 2005-01-03 2021-01-01 3970
Gold price INR.csv 2005-01-02 2021-01-01 4175
NIFTY IT_Data.csv 2005-01-03 2021-01-01 3970
NIFTY 50_Data.csv 2005-01-03 2021-01-01 3970
NIFTY 50 - HistoricalPE_PBDIV_Data.csv 2005-01-03 2021-01-01 3969
NIFTY BANK_Data.csv 2005-01-03 2021-01-01 3970

In [4]:
vix = pd.read_csv('./data/selected-econometric/VIX_History.csv')
norm = pd.read_csv('./data/selected-econometric/NIFTY AUTO_Data.csv')
gold = pd.read_csv('./data/selected-econometric/Gold price INR.csv')

In [8]:
len(vix[vix['Date'].isin(norm.Date)]), len(norm.Date), len(gold[gold['Date'].isin(norm.Date)])

(3838, 3970, 3543)

In [16]:
vix[vix['Date'].isin(norm.Date)]

            Date   OPEN   HIGH    LOW  CLOSE
0     2005-01-03  13.39  14.23  13.25  14.08
1     2005-01-04  14.01  14.45  13.93  13.98
2     2005-01-05  13.98  14.09  13.26  14.09
3     2005-01-06  14.09  14.09  13.33  13.58
4     2005-01-07  13.47  13.51  12.94  13.49
...          ...    ...    ...    ...    ...
4022  2020-12-24  22.47  22.83  21.39  21.53
4023  2020-12-28  22.11  22.12  21.15  21.70
4024  2020-12-29  21.61  23.72  20.99  23.08
4025  2020-12-30  22.58  23.15  22.41  22.77
4026  2020-12-31  22.99  23.25  21.24  22.75

[3838 rows x 5 columns]

In [21]:
# make master table for all indicators
leave = ['VIX', 'GOLD', '50-PB-PE']
files = os.listdir('./data/selected-econometric/')
eco = {'Date': norm.Date}
for file in files:
    if file.startswith(leave[0]) or file.startswith(leave[1]) or file.startswith(leave[2]):
        continue
    else:
        print(file)
        df = pd.read_csv(f'./data/selected-econometric/{file}')
        eco[file.split('.')[0]] = df.Close

FMCG.csv
FINANCE.csv
BANK.csv
IT.csv
COMMODITIES.csv
AUTO.csv
ENERGY.csv
INFRASTRUCTURE.csv
PHARMA.csv
50.csv

In [22]:
for key, val in eco.items():
    print(key, len(val))

Date 3970
FMCG 3970
FINANCE 3970
BANK 3970
IT 3970
COMMODITIES 3970
AUTO 3970
ENERGY 3970
INFRASTRUCTURE 3970
PHARMA 3970
50 3970

In [23]:
eco = pd.DataFrame(eco)
eco

,Date,FMCG,FINANCE,BANK,IT,COMMODITIES,AUTO,ENERGY,INFRASTRUCTURE,PHARMA,50
0,2021-01-01,34391.85,15184.50,31225.85,24456.10,3815.90,9272.50,16976.20,3674.20,13001.95,14018.50
1,2020-12-31,34177.10,15208.00,31264.05,24251.35,3800.60,9193.50,16922.50,3650.95,12915.90,13981.75
2,2020-12-30,34313.70,15162.90,31303.05,24330.05,3811.30,9164.80,16948.75,3669.25,12823.90,13981.95
3,2020-12-29,34181.95,15120.00,31322.50,24274.05,3765.55,9043.90,16899.35,3645.45,12843.90,13932.60
4,2020-12-28,34181.10,14966.45,30880.95,24100.30,3785.80,9066.85,17005.50,3656.35,12874.35,13873.20
...,...,...,...,...,...,...,...,...,...,...,...
3965,2005-01-07,2755.40,1184.06,3341.10,2827.00,1052.90,1125.20,3606.50,1350.30,2078.70,2015.50
3966,2005-01-06,2735.70,1175.34,3310.90,2803.80,1044.00,1122.30,3577.30,1347.30,2066.30,1998.30
3967,2005-01-05,2778.00,1204.04,3400.00,2847.50,1060.20,1137.00,3612.00,1366.80,2116.40,2032.20
3968,2005-01-04,2817.30,1257.57,3560.40,2949.10,1101.80,1181.00,3729.90,1427.00,2173.90,2103.70
3969,2005-01-03,2805.10,1250.30,3531.50,2969.40,1097.90,1185.10,3738.10,1429.70,2204.60,2115.00

In [27]:
pepb = pd.read_csv('./data/selected-econometric/50-PB-PE.csv')
pepb

            Date    P/E   P/B  Div Yield %
0     2021-01-01  38.55  3.97         1.13
1     2020-12-31  38.45  3.96         1.14
2     2020-12-30  38.45  3.96         1.14
3     2020-12-29  38.31  3.94         1.14
4     2020-12-28  38.15  3.93         1.14
...          ...    ...   ...          ...
3964  2005-01-07  14.84  3.49         1.98
3965  2005-01-06  14.71  3.47         2.00
3966  2005-01-05  14.96  3.52         1.97
3967  2005-01-04  15.49  3.65         1.90
3968  2005-01-03  15.57  3.67         1.89

[3969 rows x 4 columns]

In [28]:
pepb.columns

Index(['Date', 'P/E', 'P/B', 'Div Yield %'], dtype='object')

In [31]:
vix.columns

Index(['Date', 'OPEN', 'HIGH', 'LOW', 'CLOSE'], dtype='object')

In [34]:
vix2 = vix[vix['Date'].isin(eco.Date)][['Date', 'CLOSE']]
gold2 = gold[gold['Date'].isin(eco.Date)][['Date', 'INR']]
pepb2 = pepb[pepb['Date'].isin(eco.Date)][['Date', 'P/E', 'P/B', 'Div Yield %']]
len(vix2), len(gold2), len(pepb2)

(3838, 3543, 3969)

In [37]:
eco2 = pd.merge(left=eco, right=vix2, how='left', on='Date')
eco3 = pd.merge(left=eco2, right=gold2, how='left', on='Date')
eco4 = pd.merge(left=eco3, right=pepb2, how='left', on='Date')

In [49]:
eco5 = eco4.rename({'CLOSE': 'VIX', 'P/E':'N-PE', 'P/B':'N-PB', 'Div Yield %':'N-YIELD', 'INR':'GOLD', '50':'N50'}, axis=1)

In [51]:
eco5.to_csv('metric.csv', index=False)

In [52]:
# make master table for all stocks
df = pd.read_csv('./data/selected/RELIANCE.csv')
df.head()

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2005-01-03,RELIANCE,EQ,533.70,539.4,545.00,533.80,544.50,1087.7,540.00,6868471,3.708968e+14,NaN,1207295.0,0.1758
1,2005-01-04,RELIANCE,EQ,543.85,550.0,550.00,529.60,530.45,1062.5,533.48,5258329,2.805219e+14,NaN,1650467.0,0.3139
2,2005-01-05,RELIANCE,EQ,531.25,526.0,533.45,516.15,527.05,1059.9,526.97,8029644,4.231352e+14,NaN,2062319.0,0.2568
3,2005-01-06,RELIANCE,EQ,529.95,528.0,536.50,522.25,523.00,1052.4,530.90,6567799,3.486846e+14,NaN,1220707.0,0.1859
4,2005-01-07,RELIANCE,EQ,526.20,535.0,547.70,527.55,541.00,1084.5,538.72,7721496,4.159692e+14,NaN,1990841.0,0.2578

In [53]:
df.columns

Index(['Date', 'Symbol', 'Series', 'Prev Close', 'Open', 'High', 'Low', 'Last',
       'Close', 'VWAP', 'Volume', 'Turnover', 'Trades', 'Deliverable Volume',
       '%Deliverble'],
      dtype='object')

In [78]:
selected_columns = ['Close', 'VWAP', 'Volume', 'Turnover', 'Deliverable Volume']
stocks = os.listdir('./data/selected/')
sel = []
for stock in stocks:
    filename = stock.split('.')[0]
    rename_map = {col: f'{filename}_{col}' for col in selected_columns}
    df = pd.read_csv(f'./data/selected/{stock}')
    df = df.rename(mapper=rename_map, axis=1)
    df = df[list(rename_map.values())]
    sel.append(df)

In [79]:
master = pd.concat(sel, axis=1)

In [82]:
df = pd.read_csv('./data/selected/RELIANCE.csv')
master['Date'] = df.Date

In [83]:
master.describe()

,HINDUNILVR_Close,HINDUNILVR_VWAP,HINDUNILVR_Volume,HINDUNILVR_Turnover,HINDUNILVR_Deliverable Volume,ICICIBANK_Close,ICICIBANK_VWAP,ICICIBANK_Volume,ICICIBANK_Turnover,ICICIBANK_Deliverable Volume,...,RELIANCE_Close,RELIANCE_VWAP,RELIANCE_Volume,RELIANCE_Turnover,RELIANCE_Deliverable Volume,TCS_Close,TCS_VWAP,TCS_Volume,TCS_Turnover,TCS_Deliverable Volume
count,3970.000000,3970.000000,3.970000e+03,3.970000e+03,3.970000e+03,3970.000000,3970.000000,3.970000e+03,3.970000e+03,3.970000e+03,...,3970.000000,3970.000000,3.970000e+03,3.970000e+03,3.965000e+03,3970.000000,3970.000000,3.970000e+03,3.970000e+03,3.970000e+03
mean,7323.082368,732.191290,2.247464e+06,1.515267e+14,1.408500e+06,1210.795309,667.608849,1.025753e+07,4.674104e+14,4.737274e+06,...,4974.599471,1197.310091,5.578285e+06,7.041877e+14,2.439064e+06,7309.658929,1678.556610,1.645695e+06,2.822034e+14,8.909451e+05
std,6153.073918,615.234633,3.421813e+06,6.057592e+14,2.497942e+06,568.598746,351.020699,1.296898e+07,4.698291e+14,6.701071e+06,...,3342.334158,495.776675,5.260509e+06,8.942237e+14,1.935859e+06,5466.363165,704.400113,1.582038e+06,3.683767e+14,8.641762e+05
min,1269.000000,128.310000,1.875700e+04,7.824905e+11,8.020000e+03,262.950000,183.070000,4.348700e+04,2.209897e+12,1.501500e+04,...,1003.200000,503.690000,5.282000e+04,9.037442e+12,2.909700e+04,892.400000,368.400000,1.834500e+04,1.370237e+12,7.765000e+03
25%,2437.000000,243.887500,1.116912e+06,5.186075e+13,6.629715e+05,842.787500,342.995000,2.569472e+06,2.352258e+14,1.141445e+06,...,3239.975000,874.235000,2.860729e+06,2.828890e+14,1.329173e+06,2244.375000,1104.372500,7.843400e+05,1.050235e+14,4.381958e+05
50%,5203.000000,520.030000,1.721720e+06,8.514750e+13,1.039298e+06,1088.125000,586.500000,5.537016e+06,3.668962e+14,2.539835e+06,...,3929.000000,1018.415000,4.115528e+06,4.461370e+14,1.962784e+06,5332.000000,1643.635000,1.213356e+06,1.812750e+14,7.045040e+05
75%,9190.125000,917.767500,2.690443e+06,1.509115e+14,1.698160e+06,1562.550000,943.150000,1.382684e+07,5.695941e+14,6.618405e+06,...,5285.450000,1345.002500,6.372812e+06,7.689509e+14,2.896065e+06,10237.200000,2296.302500,2.035725e+06,3.307102e+14,1.120672e+06
max,24875.500000,2520.360000,1.856700e+08,3.564334e+16,1.399438e+08,3021.700000,1783.460000,2.868577e+08,1.461959e+16,2.325307e+08,...,18596.400000,3197.750000,6.523089e+07,1.473434e+16,3.495888e+07,23444.000000,3633.110000,4.403358e+07,1.268362e+16,3.155626e+07

In [89]:
sel_stocks = os.listdir('./data/selected/')
sel_stocks = [s.split('.')[0] for s in sel_stocks]
log_cols = ['Volume', 'Turnover', 'Deliverable Volume']

In [96]:
master2 = master.copy(deep=True)
for company in sel_stocks:
    for col in log_cols:
        master2[f'{company}_{col}'] = master2[[f'{company}_{col}']].apply(lambda x: np.log(x))

In [99]:
master2.describe()

,HINDUNILVR_Close,HINDUNILVR_VWAP,HINDUNILVR_Volume,HINDUNILVR_Turnover,HINDUNILVR_Deliverable Volume,ICICIBANK_Close,ICICIBANK_VWAP,ICICIBANK_Volume,ICICIBANK_Turnover,ICICIBANK_Deliverable Volume,...,RELIANCE_Close,RELIANCE_VWAP,RELIANCE_Volume,RELIANCE_Turnover,RELIANCE_Deliverable Volume,TCS_Close,TCS_VWAP,TCS_Volume,TCS_Turnover,TCS_Deliverable Volume
count,3970.000000,3970.000000,3970.000000,3970.000000,3970.000000,3970.000000,3970.000000,3970.000000,3970.000000,3970.000000,...,3970.000000,3970.000000,3970.000000,3970.000000,3965.000000,3970.000000,3970.000000,3970.000000,3970.000000,3970.000000
mean,7323.082368,732.191290,14.373732,32.143087,13.870394,1210.795309,667.608849,15.512240,33.381748,14.702768,...,4974.599471,1197.310091,15.292879,33.822873,14.497193,7309.658929,1678.556610,14.047087,32.881716,13.429300
std,6153.073918,615.234633,0.683735,0.895688,0.738426,568.598746,351.020699,1.210381,1.024700,1.274516,...,3342.334158,495.776675,0.653623,0.784350,0.641816,5466.363165,704.400113,0.721799,0.861417,0.765850
min,1269.000000,128.310000,9.839322,27.385748,8.989694,262.950000,183.070000,10.680217,28.423967,9.616805,...,1003.200000,503.690000,10.874645,29.832397,10.278390,892.400000,368.400000,9.817112,27.946005,8.957382
25%,2437.000000,243.887500,13.926078,31.579583,13.404487,842.787500,342.995000,14.759211,33.091567,13.947806,...,3239.975000,874.235000,14.866587,33.276076,14.100068,2244.375000,1104.372500,13.572598,32.285205,12.990421
50%,5203.000000,520.030000,14.358834,32.075406,13.854056,1088.125000,586.500000,15.526966,33.536100,14.747610,...,3929.000000,1018.415000,15.230277,33.731647,14.489874,5332.000000,1643.635000,14.008901,32.831036,13.465249
75%,9190.125000,917.767500,14.805216,32.647715,14.345056,1562.550000,943.150000,16.442122,33.975945,15.705365,...,5285.450000,1345.002500,15.667551,34.276048,14.878863,10237.200000,2296.302500,14.526363,33.432264,13.929439
max,24875.500000,2520.360000,19.039482,38.112339,18.756752,3021.700000,1783.460000,19.474497,37.221139,19.264533,...,18596.400000,3197.750000,17.993444,37.228957,17.369683,23444.000000,3633.110000,17.600463,37.079087,17.267282

In [103]:
master2.head()

,HINDUNILVR_Close,HINDUNILVR_VWAP,HINDUNILVR_Volume,HINDUNILVR_Turnover,HINDUNILVR_Deliverable Volume,ICICIBANK_Close,ICICIBANK_VWAP,ICICIBANK_Volume,ICICIBANK_Turnover,ICICIBANK_Deliverable Volume,...,RELIANCE_VWAP,RELIANCE_Volume,RELIANCE_Turnover,RELIANCE_Deliverable Volume,TCS_Close,TCS_VWAP,TCS_Volume,TCS_Turnover,TCS_Deliverable Volume,Date
0,1445.0,144.34,13.648727,30.133813,12.958005,371.35,372.94,12.929405,30.363760,12.133910,...,540.00,15.742452,33.546945,14.003893,1353.25,1346.52,13.290875,32.009078,12.183321,2005-01-03
1,1463.0,147.04,14.390855,30.894473,13.631179,373.90,371.71,12.841763,30.272790,11.916242,...,533.48,15.475324,33.267673,14.316569,1341.25,1344.04,13.341319,32.057679,12.234145,2005-01-04
2,1445.5,145.29,14.105024,30.596704,13.265483,361.75,364.29,13.672341,31.083211,12.781626,...,526.97,15.898651,33.678713,14.539342,1325.00,1313.06,13.998282,32.691320,12.654849,2005-01-05
3,1418.5,142.22,14.342158,30.812473,13.800391,353.40,356.61,13.408283,30.797848,12.105114,...,530.90,15.697689,33.485189,14.014941,1320.45,1320.02,13.816371,32.514696,12.281635,2005-01-06
4,1410.5,141.44,13.502423,29.967221,12.564128,358.70,357.56,12.529268,29.921491,11.083772,...,538.72,15.859519,33.661632,14.504068,1339.95,1333.76,13.767257,32.475941,12.647789,2005-01-07

In [102]:
master2.to_csv('./data/selected/stock.csv', index=False)

# Filling Stock df

In [2]:
df = pd.read_csv('./data/selected/stock.csv')
df.head()

,HINDUNILVR_Close,HINDUNILVR_VWAP,HINDUNILVR_Volume,HINDUNILVR_Turnover,HINDUNILVR_Deliverable Volume,ICICIBANK_Close,ICICIBANK_VWAP,ICICIBANK_Volume,ICICIBANK_Turnover,ICICIBANK_Deliverable Volume,...,RELIANCE_VWAP,RELIANCE_Volume,RELIANCE_Turnover,RELIANCE_Deliverable Volume,TCS_Close,TCS_VWAP,TCS_Volume,TCS_Turnover,TCS_Deliverable Volume,Date
0,1445.0,144.34,13.648727,30.133813,12.958005,371.35,372.94,12.929405,30.363760,12.133910,...,540.00,15.742452,33.546945,14.003893,1353.25,1346.52,13.290875,32.009078,12.183321,2005-01-03
1,1463.0,147.04,14.390855,30.894473,13.631179,373.90,371.71,12.841763,30.272790,11.916242,...,533.48,15.475324,33.267673,14.316569,1341.25,1344.04,13.341319,32.057679,12.234145,2005-01-04
2,1445.5,145.29,14.105024,30.596704,13.265483,361.75,364.29,13.672341,31.083211,12.781626,...,526.97,15.898651,33.678713,14.539342,1325.00,1313.06,13.998282,32.691320,12.654849,2005-01-05
3,1418.5,142.22,14.342158,30.812473,13.800391,353.40,356.61,13.408283,30.797848,12.105114,...,530.90,15.697689,33.485189,14.014941,1320.45,1320.02,13.816371,32.514696,12.281635,2005-01-06
4,1410.5,141.44,13.502423,29.967221,12.564128,358.70,357.56,12.529268,29.921491,11.083772,...,538.72,15.859519,33.661632,14.504068,1339.95,1333.76,13.767257,32.475941,12.647789,2005-01-07

In [5]:
df.isnull().sum()

HINDUNILVR_Close                 0
HINDUNILVR_VWAP                  0
HINDUNILVR_Volume                0
HINDUNILVR_Turnover              0
HINDUNILVR_Deliverable Volume    0
ICICIBANK_Close                  0
ICICIBANK_VWAP                   0
ICICIBANK_Volume                 0
ICICIBANK_Turnover               0
ICICIBANK_Deliverable Volume     0
LT_Close                         0
LT_VWAP                          0
LT_Volume                        0
LT_Turnover                      0
LT_Deliverable Volume            0
BHARTIARTL_Close                 0
BHARTIARTL_VWAP                  0
BHARTIARTL_Volume                0
BHARTIARTL_Turnover              0
BHARTIARTL_Deliverable Volume    5
INFY_Close                       0
INFY_VWAP                        0
INFY_Volume                      0
INFY_Turnover                    0
INFY_Deliverable Volume          0
ITC_Close                        0
ITC_VWAP                         0
ITC_Volume                       0
ITC_Turnover                     0
ITC_Deliverable Volume           5
HDFCBANK_Close                   0
HDFCBANK_VWAP                    0
HDFCBANK_Volume                  0
HDFCBANK_Turnover                0
HDFCBANK_Deliverable Volume      0
SBIN_Close                       0
SBIN_VWAP                        0
SBIN_Volume                      0
SBIN_Turnover                    0
SBIN_Deliverable Volume          5
RELIANCE_Close                   0
RELIANCE_VWAP                    0
RELIANCE_Volume                  0
RELIANCE_Turnover                0
RELIANCE_Deliverable Volume      5
TCS_Close                        0
TCS_VWAP                         0
TCS_Volume                       0
TCS_Turnover                     0
TCS_Deliverable Volume           0
Date                             0
dtype: int64

In [15]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors = 10, weights='uniform')
states = imputer.fit_transform(X=df.drop(columns=['Date']))

In [17]:
df2 = pd.DataFrame(states, columns=df.columns[:-1])

In [19]:
df2['Date'] = df.Date
df2.head()

,HINDUNILVR_Close,HINDUNILVR_VWAP,HINDUNILVR_Volume,HINDUNILVR_Turnover,HINDUNILVR_Deliverable Volume,ICICIBANK_Close,ICICIBANK_VWAP,ICICIBANK_Volume,ICICIBANK_Turnover,ICICIBANK_Deliverable Volume,...,RELIANCE_VWAP,RELIANCE_Volume,RELIANCE_Turnover,RELIANCE_Deliverable Volume,TCS_Close,TCS_VWAP,TCS_Volume,TCS_Turnover,TCS_Deliverable Volume,Date
0,1445.0,144.34,13.648727,30.133813,12.958005,371.35,372.94,12.929405,30.363760,12.133910,...,540.00,15.742452,33.546945,14.003893,1353.25,1346.52,13.290875,32.009078,12.183321,2005-01-03
1,1463.0,147.04,14.390855,30.894473,13.631179,373.90,371.71,12.841763,30.272790,11.916242,...,533.48,15.475324,33.267673,14.316569,1341.25,1344.04,13.341319,32.057679,12.234145,2005-01-04
2,1445.5,145.29,14.105024,30.596704,13.265483,361.75,364.29,13.672341,31.083211,12.781626,...,526.97,15.898651,33.678713,14.539342,1325.00,1313.06,13.998282,32.691320,12.654849,2005-01-05
3,1418.5,142.22,14.342158,30.812473,13.800391,353.40,356.61,13.408283,30.797848,12.105114,...,530.90,15.697689,33.485189,14.014941,1320.45,1320.02,13.816371,32.514696,12.281635,2005-01-06
4,1410.5,141.44,13.502423,29.967221,12.564128,358.70,357.56,12.529268,29.921491,11.083772,...,538.72,15.859519,33.661632,14.504068,1339.95,1333.76,13.767257,32.475941,12.647789,2005-01-07

In [21]:
df2.isnull().sum().sum()

0

In [23]:
df2.to_csv('./data/selected/stock-filled.csv', index=False)

# Filling Econometric df

In [24]:
df = pd.read_csv('./data/selected-econometric/metric.csv')
df.head()

,Date,FMCG,FINANCE,BANK,IT,COMMODITIES,AUTO,ENERGY,INFRASTRUCTURE,PHARMA,N50,VIX,GOLD,N-PE,N-PB,N-YIELD
0,2021-01-01,34391.85,15184.50,31225.85,24456.10,3815.90,9272.50,16976.20,3674.20,13001.95,14018.50,NaN,1127.7,38.55,3.97,1.13
1,2020-12-31,34177.10,15208.00,31264.05,24251.35,3800.60,9193.50,16922.50,3650.95,12915.90,13981.75,22.75,1127.7,38.45,3.96,1.14
2,2020-12-30,34313.70,15162.90,31303.05,24330.05,3811.30,9164.80,16948.75,3669.25,12823.90,13981.95,22.77,1131.4,38.45,3.96,1.14
3,2020-12-29,34181.95,15120.00,31322.50,24274.05,3765.55,9043.90,16899.35,3645.45,12843.90,13932.60,23.08,1125.2,38.31,3.94,1.14
4,2020-12-28,34181.10,14966.45,30880.95,24100.30,3785.80,9066.85,17005.50,3656.35,12874.35,13873.20,21.70,1126.8,38.15,3.93,1.14

In [25]:
df.isnull().sum()

Date                0
FMCG                0
FINANCE             0
BANK                0
IT                  0
COMMODITIES         0
AUTO                0
ENERGY              0
INFRASTRUCTURE      0
PHARMA              0
N50                 0
VIX               132
GOLD              427
N-PE                1
N-PB                1
N-YIELD             1
dtype: int64

In [26]:
imputer = KNNImputer(n_neighbors = 10, weights='uniform')
states = imputer.fit_transform(X=df.drop(columns=['Date']))

In [27]:
df2 = pd.DataFrame(states, columns=df.columns[:-1])
df2['Date'] = df.Date
df2.head()

,Date,FMCG,FINANCE,BANK,IT,COMMODITIES,AUTO,ENERGY,INFRASTRUCTURE,PHARMA,N50,VIX,GOLD,N-PE,N-PB
0,2021-01-01,15184.50,31225.85,24456.10,3815.90,9272.50,16976.20,3674.20,13001.95,14018.50,22.586,1127.7,38.55,3.97,1.13
1,2020-12-31,15208.00,31264.05,24251.35,3800.60,9193.50,16922.50,3650.95,12915.90,13981.75,22.750,1127.7,38.45,3.96,1.14
2,2020-12-30,15162.90,31303.05,24330.05,3811.30,9164.80,16948.75,3669.25,12823.90,13981.95,22.770,1131.4,38.45,3.96,1.14
3,2020-12-29,15120.00,31322.50,24274.05,3765.55,9043.90,16899.35,3645.45,12843.90,13932.60,23.080,1125.2,38.31,3.94,1.14
4,2020-12-28,14966.45,30880.95,24100.30,3785.80,9066.85,17005.50,3656.35,12874.35,13873.20,21.700,1126.8,38.15,3.93,1.14

In [28]:
df2.isnull().sum().sum()

0

In [31]:
df2.to_csv('./data/selected-econometric/metric-filled.csv', index=False)

# Preparing state and action matrix

In [34]:
sdf = pd.read_csv('./data/selected/stock-filled.csv')
edf = pd.read_csv('./data/selected-econometric/metric-filled.csv')
print(sdf.columns, sdf.shape)
print(edf.columns, edf.shape)

Index(['HINDUNILVR_Close', 'HINDUNILVR_VWAP', 'HINDUNILVR_Volume',
       'HINDUNILVR_Turnover', 'HINDUNILVR_Deliverable Volume',
       'ICICIBANK_Close', 'ICICIBANK_VWAP', 'ICICIBANK_Volume',
       'ICICIBANK_Turnover', 'ICICIBANK_Deliverable Volume', 'LT_Close',
       'LT_VWAP', 'LT_Volume', 'LT_Turnover', 'LT_Deliverable Volume',
       'BHARTIARTL_Close', 'BHARTIARTL_VWAP', 'BHARTIARTL_Volume',
       'BHARTIARTL_Turnover', 'BHARTIARTL_Deliverable Volume', 'INFY_Close',
       'INFY_VWAP', 'INFY_Volume', 'INFY_Turnover', 'INFY_Deliverable Volume',
       'ITC_Close', 'ITC_VWAP', 'ITC_Volume', 'ITC_Turnover',
       'ITC_Deliverable Volume', 'HDFCBANK_Close', 'HDFCBANK_VWAP',
       'HDFCBANK_Volume', 'HDFCBANK_Turnover', 'HDFCBANK_Deliverable Volume',
       'SBIN_Close', 'SBIN_VWAP', 'SBIN_Volume', 'SBIN_Turnover',
       'SBIN_Deliverable Volume', 'RELIANCE_Close', 'RELIANCE_VWAP',
       'RELIANCE_Volume', 'RELIANCE_Turnover', 'RELIANCE_Deliverable Volume',
       'TCS_Close', 'TCS_VWAP', 'TCS_Volume', 'TCS_Turnover',
       'TCS_Deliverable Volume', 'Date'],
      dtype='object') (3970, 51)
Index(['Date', 'FMCG', 'FINANCE', 'BANK', 'IT', 'COMMODITIES', 'AUTO',
       'ENERGY', 'INFRASTRUCTURE', 'PHARMA', 'N50', 'VIX', 'GOLD', 'N-PE',
       'N-PB'],
      dtype='object') (3970, 15)

In [61]:
sdf.shape, edf.shape

((3970, 51), (3970, 15))

In [38]:
sdf = sdf.sort_values(by='Date')
edf = edf.sort_values(by='Date')

In [52]:
edf = edf.reset_index(drop=True)
sdf = sdf.reset_index(drop=True)

In [54]:
(edf.Date == sdf.Date).value_counts()

True    3970
Name: Date, dtype: int64

In [57]:
df_master = pd.merge(left=sdf, right=edf, how='left', on='Date')

In [60]:
df_master.columns

(3970, 65)

In [62]:
df_master.isnull().sum().sum()

0

In [63]:
df_master.to_csv('./data/rl/master.csv', index=False)

## Make states

In [64]:
df_master.head()

,HINDUNILVR_Close,HINDUNILVR_VWAP,HINDUNILVR_Volume,HINDUNILVR_Turnover,HINDUNILVR_Deliverable Volume,ICICIBANK_Close,ICICIBANK_VWAP,ICICIBANK_Volume,ICICIBANK_Turnover,ICICIBANK_Deliverable Volume,...,COMMODITIES,AUTO,ENERGY,INFRASTRUCTURE,PHARMA,N50,VIX,GOLD,N-PE,N-PB
0,1445.0,144.34,13.648727,30.133813,12.958005,371.35,372.94,12.929405,30.363760,12.133910,...,1185.1,3738.1,1429.7,2204.6,2115.0,14.08,154.90,15.57,3.67,1.89
1,1463.0,147.04,14.390855,30.894473,13.631179,373.90,371.71,12.841763,30.272790,11.916242,...,1181.0,3729.9,1427.0,2173.9,2103.7,13.98,152.40,15.49,3.65,1.90
2,1445.5,145.29,14.105024,30.596704,13.265483,361.75,364.29,13.672341,31.083211,12.781626,...,1137.0,3612.0,1366.8,2116.4,2032.2,14.09,152.09,14.96,3.52,1.97
3,1418.5,142.22,14.342158,30.812473,13.800391,353.40,356.61,13.408283,30.797848,12.105114,...,1122.3,3577.3,1347.3,2066.3,1998.3,13.58,148.60,14.71,3.47,2.00
4,1410.5,141.44,13.502423,29.967221,12.564128,358.70,357.56,12.529268,29.921491,11.083772,...,1125.2,3606.5,1350.3,2078.7,2015.5,13.49,153.70,14.84,3.49,1.98

In [76]:
states = df_master.drop(columns='Date')
states2 = states[:3969]

In [79]:
states2.to_csv('./data/rl/states.csv', index=False)

In [82]:
prices_col = [i for i in df_master.columns if '_' in i and i.split('_')[1] == 'Close' ]
print(prices_col, len(prices_col))

['HINDUNILVR_Close', 'ICICIBANK_Close', 'LT_Close', 'BHARTIARTL_Close', 'INFY_Close', 'ITC_Close', 'HDFCBANK_Close', 'SBIN_Close', 'RELIANCE_Close', 'TCS_Close'] 10

In [83]:
price_df = df_master[prices_col]
price_df.head()

,HINDUNILVR_Close,ICICIBANK_Close,LT_Close,BHARTIARTL_Close,INFY_Close,ITC_Close,HDFCBANK_Close,SBIN_Close,RELIANCE_Close,TCS_Close
0,1445.0,371.35,488.400,228.30,8478.2,1313.15,525.25,655.75,1087.7,1353.25
1,1463.0,373.90,487.100,226.10,8360.2,1314.50,519.45,649.90,1062.5,1341.25
2,1445.5,361.75,479.625,210.35,8210.0,1296.80,500.05,617.45,1059.9,1325.00
3,1418.5,353.40,469.975,211.20,8175.0,1276.70,485.15,604.30,1052.4,1320.45
4,1410.5,358.70,487.250,210.15,8203.2,1300.20,490.25,615.65,1084.5,1339.95

In [85]:
price_df2 = price_df[1:]
price_df2.shape

(3969, 10)

In [87]:
price_df2.to_csv('./data/rl/price.csv', index=False)

## Making Action

In [128]:
actions = set()
while len(actions) < 490:
    rand_arrays = np.random.rand(10)
    rand_arrays = rand_arrays / rand_arrays.sum()
    rand_arrays = np.round(rand_arrays/0.05) * 0.05
    if rand_arrays.sum() == 1.0:
        actions.add(tuple(rand_arrays))

In [129]:
for i in actions:
    print(i)
    break

(0.2, 0.05, 0.0, 0.05, 0.1, 0.05, 0.05, 0.15000000000000002, 0.15000000000000002, 0.2)

In [130]:
for i in range(10):
    arr = np.zeros(10)
    arr[i] += 1
    if tuple(arr) not in actions:
        print(i)
        actions.add(tuple(arr))

0
1
2
3
4
5
6
7
8
9

In [131]:
len(actions)

500

In [133]:
action_mat = np.array([np.array(i) for i in actions])

In [146]:
np.save('./data/rl/actions.np', action_mat)

In [147]:
tmp = np.load('./data/rl/actions.np.npy')